*{
  margin:0;
  padding:0;
}
body{
  text-rendering:optimizeLegibility;

}

.colortheme{
  text-align: left;
  padding:20px;
  margin:auto;
  position: absolute;
  top:20px;
  left:20px;
}

.container{
  margin: 250px auto;
  padding:20px;
  text-align: center;

}

.btn-darkMode{
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(34, 33, 33);
  margin-bottom: 5px;
}

.btn-default{
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(244, 248, 247);
}

.btn-pink{
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(209, 173, 212);
  margin-bottom: 5px;
}

ul{
  margin: 0;
}

ul li{
 list-style: none;
 display: inline-block;
 text-align: center;
 vertical-align: center;
 margin: 0px;
}


.group{
  text-align: center;
  margin:0 auto;
}

.letters{
  font-size: 3.5em;  
  letter-spacing: -10px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letter1{
 color: #79d398;
 text-shadow: 4px 3px 3px  rgba(100, 149, 237, 0.4);
}

.letter2{
  color: #78a3ca;
  text-shadow: 4px 3px 3px  rgba(100, 149, 237, 0.4);
 }

 .letter3{
  color: #f39b9c;
  text-shadow: 3px 3px 3px  rgba(100, 149, 237, 0.4);
 }

 .letter4{
  color: #f3aa82;
  text-shadow: 3px 3px 3px  rgba(100, 149, 237, 0.4);
 }
 
 .letter5{
  color: #be88f0;
  text-shadow: 3px 3px 3px rgba(100, 149, 237, 0.4);
 }

input{
  margin-top:3px;
  width: 300px;
  height:30px;
  border-radius: 15px;
  border:1px solid rgb(155, 224, 245);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnSubmit{
  margin-top:15px;
  width:120px;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(235, 207, 146);
  border: 1px solid white;
  color:black;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 680px){
  .container{width: 450px; margin: 250px auto; display: block;}

  .group, .letters, .search{width: 400px; }
}


@media only screen and (min-width: 860px){
  .container{width: 700px; margin: 250px auto;}

}
 


